.Nieuws-Grid {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Nieuws-Grid > .Nieuws-Card {
  flex: 0 0 21%;
  padding-inline-start: var(--utrecht-space-row-md);
  padding-inline-end: var(--utrecht-space-row-md) ;
  padding-block-start: var(--utrecht-space-column-lg);
  padding-block-end: var(--utrecht-space-column-lg) ;

}


