.HeaderTemplate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-block-end: 0 !important;
  padding-block-start: 0 !important;
  padding-inline-end: 100% !important;
  padding-inline-start: 100% !important;
  background-color: white;
}

.HeaderTemplate > *:not(:last-child) {
  margin-block-end: var(--utrecht-space-inline-md);
}

.HeaderTemplate > .HeaderTemplate-subNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderTemplate > .HeaderTemplate-subNav > :first-child {
  flex: 1;
}
