.HeaderTemplate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.HeaderTemplate > *:not(:last-child) {
  margin-block-end: var(--utrecht-space-inline-md);
}

.HeaderTemplate > .HeaderTemplate-logo {
  display: flex;
  align-self: center;
  height: var(--conduction-nav-logo-height-lg);
}

.HeaderTemplate > .HeaderTemplate-topNav {
  display: flex;
}

.HeaderTemplate > .HeaderTemplate-topNav > *:not(:last-child) {
  margin-inline-end: var(--utrecht-space-inline-md);
}

.HeaderTemplate > .HeaderTemplate-topNav > :first-child {
  flex: 2;
}

.HeaderTemplate > .HeaderTemplate-topNav > *:not(:first-child) {
  flex: 1;
}

.HeaderTemplate > .HeaderTemplate-subNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderTemplate > .HeaderTemplate-subNav > :first-child {
  flex: 1;
}
