.HeaderTemplate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.HeaderTemplate > *:not(:last-child) {
  margin-block-end: var(--utrecht-space-inline-md);
}

.HeaderTemplate > .HeaderTemplate-logo {
  display: flex;
  align-self: center;
  height: var(--conduction-nav-logo-height-lg);
}
