.utrecht-navhtml > .topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
}

.utrecht-navhtml > .topnav > .topnav-searchbar {
  display: flex;
  justify-content: flex-end;
}

.utrecht-navhtml > .topnav > .topnav-logo {
  max-height: 54.4px;
  max-width: 100px;
}

.utrecht-navhtml > .topnav > .topnav-searchbar > svg {
  padding-inline-start: var(--utrecht-space-inline-2xs);
}

.utrecht-navhtml > .topnav > :not(:first-child) {
  flex: 0.35;
}
