.TopNav {
  border-bottom: var(--utrecht-space-inline-3xs) var(--utrecht-color-red-40)
    solid;
}

.TopNav .TopNav-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block-start: var(--utrecht-space-inline-2xs);
  padding-block-end: var(--utrecht-space-inline-2xs);
}

.TopNav .TopNav-inner > svg {
  max-block-size: var(--conduction-nav-logo-height-lg);
}

.TopNav .TopNav-inner .TopNav-userNav {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-size: var(--utrecht-typography-scale-sm);
}

.TopNav .TopNav-inner .TopNav-userNav > *:not(:last-child) {
  margin-inline-end: var(--utrecht-space-inline-xs);
  list-style-type: none;
}

.TopNav .TopNav-inner .TopNav-userNav > li {
  display: flex;
}

.TopNav .TopNav-inner .TopNav-userNav > li > svg {
  padding-inline-end: var(--utrecht-space-inline-2xs);
  margin: auto;
}
